<footer>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center"  >
                    <div class="footer_logo   wow fadeInUp animated" >
                        <img src="<%= locals.carpetaInstalacion %>images/logo_agetic.png" alt="" >
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                
                <!--OCULTAMOS GEOHASH, DATO A MOSTRAR UNICAMENTE PARA GEOBOLIVIA-->
                <!--                
                <div class="col-md-12 text-center   wow fadeInUp animated">
                    <div class="social">
                        <h2>Código GeoHash</h2>
                        <ul class="icon_list">
                                <a href="http://geohash.2ch.to/6mpd1sdnm" target="_blank">6MPD1SDNM</a>
                        </ul>
                    </div>
                </div>
                -->
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyright_text   wow fadeInUp animated">
                        <p>&copy; Agetic - <a href="http://www.agetic.gob.bo/" target="_blank"> Visitar </a></p>
                        <!--<p>2016</p>-->
                        <p>Teléfono: <a href="tel:591 2 2142013"> (591) (2) 2128706 </a><br/>Correo Electrónico: <a href="mailto:contacto@agetic.gob.bo" >contacto@agetic.gob.bo</a><br/>Obrajes, Calle 9 esquina Costanerita # 104 Edificio Ministerio de Deportes Piso 4, La Paz - Bolivia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
