<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Gob-bo</title>

<!-- CSS (load bootstrap from a CDN) -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
  
<link href="/css/demo.css" rel="stylesheet">
<link href="/css/gaia.css" rel="stylesheet">

<!--     Fonts and icons     -->
<link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">


<style>
    body    { padding-top:40px; }
</style>
