
    <hr>
        <div class="container maginBod">
            <div class="maginBod">
                <!-- page content -->
                <div class="col-md-12">
                    <div class="col-middle">
                        <div class="text-center ">
                            <h1 class="error-number">404</h1>
                        </div>
                        <br><br><hr>
                        <div class="mid_center text-center">
                            <h3>La página que está buscando no puede ser encontrada.</h3>
                            <h5>Lo sentimos la página que buscas ha sido removida o no existe.</h5>
                        </div>
                    </div>
                </div>
                <!-- /page content -->
            </div>
            <!-- footer content -->
        </div>
        <br><br>
        <hr>
