<div class="section">
        <div class="container">
            <div >
                <div class="panel">
                    <h3 class="title">DIRECCIÓN GENERAL DE MIGRACIÓN</h3>
                </div>
            </div>
            

            <div class="row">
                <section id="features" class="feature-wrapper">
                    <div class="container">
                    
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 text-center animate-box">
                            
                                <div class="card card-member">
                                            <div class="content">
                                                <div class="">
                                                    <img alt="..." class="" src="assets/img/segip.png"/>
                                                </div>
                                                <div class="panel panel-default">
                                                    <p class="small-text">
                                                        SITIO WEB          www.segip.gob.bo/
                                                    </p>
                                                </div>
                                                <div class="panel panel-default">
                                                    
                                                    <p class="small-text">DESCRIPCIÓN: La Cédula de Identidad de Extranjero es un documento público, individual, único e intransferible que acredita la identificación de la persona extranjera con permanencia, temporal o definitiva vigente en el país, individualizándola del resto de personas extranjeras radicadas o que están de paso por el territorio nacional.

                                                </div>
                                                <div class="panel panel-default">
                                                    <p class="small-text">
                                                        DIRECCIÓN          
                                                    </p>
                                                </div>
                                                <div class="panel panel-default">
                                                    <p class="small-text">
                                                        CORREO ELECTRÓNICO          lapaz@migracion.gob.bo
                                                    </p>
                                                </div>
                                                <div class="panel panel-default">
                                                    <p class="small-text">
                                                        TELÉFONOS DE REFERENCIA          2110960
                                                    </p>
                                                </div>
                                                <div class="panel panel-default">
                                                    <p class="small-text">
                                                        OFICIAL DE OPERACIONES Martín Nuñez Bellot
                                                    </p>
                                                </div>  
                                                <div class="panel panel-default">
                                                    <p class="small-text">
                                                        AEROPUERTO EL ALTO          Villa Bolivar - 2814441
                                                    </p>
                                                </div>
                                                <div class="panel panel-default">
                                                    <p class="small-text">
                                                        REGIONAL CHARAÑA          Visviri (Chile) - 75273963
                                                    </p>
                                                </div>
                                                <div class="panel panel-default">
                                                    <p class="small-text">
                                                        REGIONAL DESAGUADERO          Puente Internacional - 71902966
                                                    </p>
                                                </div>
                                            </div>
                                </div>
                            
                        </div><!-- end col-lg-6 -->
                        
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            
                        </div><!-- end col-lg-6 -->
                    </div><!-- end container -->
                </section><!-- end grey-wrapper -->
            </div>
        </div>
    </div>