
    <div class="section section-header" >
        <div class="parallax filter filter-color-default">
            <div class="image"
                style="background-image: url('images/header-2.jpg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <!--p>Free Demo</p-->
                        <h1 class="title-modern">Gob.bo</h1>
                        <h3 style="font: 150% sans-serif;">Estado Plurinacional de Bolivia</h2>
                        <div class="separator line-separator">♦</div>
                    </div>

                    <h3 style="font: 150% sans-serif;">¿Qué trámite o entidad desea buscar?</h3>
                    <!-- buscador -->
                    <div class="col-md-12" >
                        <div class="col-middle">
                            <form action="/buscar" method="get" >

                                <input type="text" name="busqueda" placeholder="Busque Tramite o Entidad" class="" style="color:#000; width:280px">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
